{% extends "../formBase.html" %}
{% load socialaccount %}
{% load allauth account %}
{% load allauth i18n %}
{% load static %}
{% block title %}Confirm Email Address{% endblock%}
{% block content %}
    <div class="container socialSignIn">
        <div class="formHeader">
            <h1>Confirm Email Address</h1>
        </div>
        {% if confirmation %}
            <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
                    {% csrf_token %}
                    <div class="formStartText">
                        <p>{% user_display confirmation.email_address.user as user_display %}</p>
                        {% if can_confirm %}
                            <p>{% blocktrans with confirmation.email_address.email as email %}Please confirm that <a href="mailto:{{ email }}">{{ email }}</a> is an email address for user {{ user_display }}.{% endblocktrans %}</p>
                        {% else %}
                            <p>{% blocktrans %}Unable to confirm {{ email }} because it is already confirmed by a different account.{% endblocktrans %}</p>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <label for="id_login">Login:</label>
                        <input type="text" name="login" value="" placeholder="Username or email" autocomplete="email" required id="id_login">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn-primary">Confirm</button>
                    </div>
                </form>
        {% else %}
            <form style="height: 60dvh; display:flex; justify-content:center; align-items:center;">
                {% url 'account_email' as email_url %}
                <p style="color:var(--darkBlue)">{% blocktrans %}This email confirmation link expired or is invalid. Please <a style="color:var(--yellow)" href="{{ email_url }}">issue a new email confirmation request</a>.{% endblocktrans %}</p>
            </form/>
        {% endif %}
    </div>
{% endblock %}
