{% extends "../formBase.html" %}
{% load socialaccount %}
{% load allauth account %}
{% load allauth i18n %}
{% load static %}
{% block title %}Sign Out{% endblock%}
{% block content %}
    <div class="container socialSignIn">
        <div class="formHeader">
            <h1>Sign Out</h1>
        </div>
        <form method="post">
            <div class="formStartText">
                <p>Are you sure you want to sign out?</p>
            </div>
            {% csrf_token %}
            
            {% if form.non_field_errors %}
                <div class="alert alert-danger" >
                    {{ form.non_field_errors }}
                </div>
            {% endif %}
            
            <!-- Loop through each field in the form -->
            {% for field in form %}
                <div>
                    {% if field.errors %}
                        <div class="alert alert-danger">
                            {{ field.errors }}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
            <button type="submit" class="btn-primary" id="btn-primary">{% trans "Sign Out" %}</button>
        </form>
    </div>
{% endblock %}
