{% extends "../formBase.html" %}
{% load static %}
{% block title %}Set Password{% endblock%}
{% block content %}
    <style>
        form{
            height: fit-content !important;
        }
    </style>
    <div class="container">
        <div class="topSection">
            <a href="/dashboard/" class="back">&larr; Go Back</a>
            <a href="/">
                <img src="{% static 'core/image/Logo.png' %}" alt="logo" class="logo">
            </a>
        </div>
        <div class="formHeader">
            <h1>Set Password</h1>
            
            {% if form.non_field_errors %}
                <div class="alert alert-danger" >
                    {{ form.non_field_errors }}
                </div>
            {% endif %}
            
            <!-- Loop through each field in the form -->
            {% for field in form %}
                <div>
                    {% if field.errors %}
                        <div class="alert alert-danger">
                            {{ field.errors }}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        <form action="/accounts/password/change/" method="POST" id="confirm-email-code">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_oldpassword">Password:</label>
                <input type="password" name="password1" placeholder="New Password" autocomplete="new-password" required aria-describedby="id_password1_helptext" id="id_password1">
            </div>
            <div class="form-group">
                <label for="id_password2">Password (again):</label>
                <input type="password" name="password2" placeholder="Password (again)" required id="id_password2">
            </div>
            <button type="submit" name="action_add" class="btn-primary">Change Password</button>
        </form>
        
    </div>
{% endblock %}

