{% extends "../formBase.html" %}
{% load socialaccount %}
{% load allauth account %}
{% load allauth i18n %}
{% load static %}
{% block title %}Forgot Password{% endblock%}
{% block content %}
    <div class="container">
        <div class="formHeader">
            <h1>Forgot Password</h1>
            <div class="formStartText">
                <p>Enter your email to reset your password.</p>
            </div>
            
        </div>
        <form class="crypto-form" action="/accounts/password/reset/" method="post">
            {% csrf_token %}
            
            {% if form.non_field_errors %}
                <div class="alert alert-danger" >
                    {{ form.non_field_errors }}
                </div>
            {% endif %}
            
            <!-- Loop through each field in the form -->
            {% for field in form %}
                <div>
                    {% if field.errors %}
                        <div class="alert alert-danger">
                            {{ field.errors }}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
            
            <div class="form-group">
                <label for="id_email">Email:</label>
                <input type="email" name="email" placeholder="Email address" autocomplete="email" maxlength="320" required id="id_email">
            </div>
            <button type="submit" class="btn-primary">Reset Password</button>
        </form>
        <p>Remember your password? <a href="login.html">Log in</a></p>
    </div>
{% endblock %}

