{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Deposit</title>
    <link rel="stylesheet" href="{% static 'account/css/login.css' %}">
</head>
<body>
    <div class="container">
        <h1>Make a Deposit</h1>
        <form method="post"  enctype="multipart/form-data" action="{% url 'wallet:deposit_submit_view' %}">
            {% csrf_token %}
            {% for message in messages %}
                <h5>{{message}}</h5>
            {% endfor %}
            <div class="form-group">
                <div class="form-group">
                    <h3>Bank Account Information</h3>
                    <p>Please make your payment to the account details below using the Narration provided. <br> Make such to add the naration to avoid missing funds</p>
                </div>
                <div class="form-group accountInfos">
                    <div class="form-group accountInfo">
                        <h4>Account Name: </h3>
                        <h4>Bank Name: </h4>
                        <p>Account Number: </p>
                    </div>
                </div>
                <div class="narration">
                    <input type="text" name="narration" id="narration" value="{{ narration }}">
                    <button id="copyButton" class="btn-primary" id="btn-primary">Copy Text</button>
                </div>
            </div>
            <div class="form-group">
                <label for="Amount" class="form-label">Amount</label>
                <div class="input-group has-validation">
                <span class="input-group-text" id="inputGroupPrepend">$</span>
                <input type="number" name="amount" class="form-control" id="number" required>
                <div class="invalid-feedback">Please enter Amount</div>
                </div>
            </div>

            <div class="form-group">
                <label for="proofOfPayment" class="form-label">proofOfPayment</label>
                <input type="file" name="proof_of_payment" class="form-control" id="proofOfPayment" required>
                <div class="invalid-feedback">Please enter your proof of image</div>
            </div>
            
            <!-- Your other form fields here -->
            <button type="submit" class="btn-primary" id="btn-primary">Deposit</button>
        </form>
    </div>
    <script>
        document.getElementById('copyButton').addEventListener('click', function() {
            // Get the input field
            const inputField = document.getElementById('narration');
            
            // Select the text in the input field
            inputField.select();
            inputField.setSelectionRange(0, 99999); // For mobile devices
        
            // Copy the text to the clipboard
            navigator.clipboard.writeText(inputField.value).then(() => {
                alert('Narration copied to clipboard');
            }).catch(err => {
                console.error('Could not copy text: ', err);
            });
        });        
    </script>
</body>
</html>
