{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Withdraw</title>
    <link rel="stylesheet" href="{% static 'account/css/login.css' %}">
</head>
<body>
    <div class="container">
        <h1>Withdraw Funds</h1>
        <small>Please go to Wallet or <a href="">Add bank account</a> to add a withdral account information</small>
        <form class="row g-3 needs-validation" novalidate method="POST" action="{% url 'wallet:withdrawal_submit_view' %}">
            {% csrf_token %}

            <div class="form-group">
                <div class="form-group">
                    <h3>Bank Account Information</h3>
                    <p>Please Select Your Bank Account</p>
                </div>
                <div class="form-group accountInfos">
                    <div class="form-group1 accountInfo">
                        {% for withdrawalAccount in withdrawalAccounts %}
                        <label class="accountItem" for="account_{{ withdrawalAccount.id }}" style="display:flex; justify-content: space-between; width: 100%;">
                            <input type="radio" name="SelectedAcount" id="account_{{ withdrawalAccount.id }}" value="{{ withdrawalAccount.id }}">
                            <span>
                                <h4>Account Name: {{ withdrawalAccount.account_name }}</h4>
                                <h4>Bank Name: {{ withdrawalAccount.bank_name }}</h4>
                                <p>Account Number: {{ withdrawalAccount.account_number }}</p>
                            </span>
                        </label>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="form-group">
              <label for="amount" class="form-label">Amount</label>
              <input type="number" name="amount" class="form-control" id="amount" required>
            </div>

            <div class="form-group">
              <button class="btn btn-primary w-100" type="submit">Withdraw</button>
            </div>
          </form>
    </div>
</body>
</html>
