{% extends "../base.html" %}
{% load static %}
{% block content %}
<div class="main-content">
    <aside class="sidebar">
        <div class="close-aside aside-control" id="asideControlToggle" style="display: none"><i  class="close  fas fa-times"></i></div>

        <ul>
            <li><a href="profile.html" class="active"><i class="fas fa-user"></i> Profile</a></li>
            <li><a href="/wallet/"><i class="fas fa-wallet"></i> Wallets</a></li>
            <li><a href="/dashboard/"><i class="fas fa-exchange-alt"></i> Transact</a></li>
            <li><a href="/giftcard/"><i class="fas fa-gift"></i> Buy gift</a></li>
            <li><a href="/giftcard/sell/"><i class="fas fa-box-open"></i> Sell gift</a></li>
            <li><a href="/crypto/"><i class="fab fa-ethereum"></i> Buy coin</a></li>
            <li><a href="/crypto/sell/"><i class="fab fa-btc"></i> Sell coin</a></li>
            <li><a href="/mobileTopUp/"><i class="fas fa-phone"></i> Recharge</a></li>
            <li><a href="/billPayments/bills/"><i class="fas fa-money-bill-wave"></i> Pay bills</a></li>
            <li><a href="/billPayments/"><i class="fas fa-credit-card"></i> Subscriptions</a></li>
        </ul>
    </aside>
    <main class="dashboard-content">
        <h1>Hello <span style="color:#FF4500">{{ user.username }}</span></h1>
        <ul>
            <li><a href="#"  class="active">Profile</a></li>
            <li><a href="#">Wallets</a></li>
            <li><a href="#">Transactions</a></li>
        </ul>
        <section class="balance-trend">
            <h2>Balance & Trend</h2>
            <div class="transaction-typ-tag">
                <button>All</button>
                <button>Failed</button>
                <button>Pending</button>
                <button>Completed</button>
            </div>
            <div id="balance-chart" style="height: fit-content; background-color: #f0f0f0;">
                <table>
                    <thead>
                        <tr>
                            <th>Status</th>
                            <th>Date/Time</th>
                            <th>Type</th>
                            <th>Amount</th>
                            <th>Tag</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if transactions %}
                            {% for transaction in transactions %}
                                <tr>
                                    {% if transaction.status == "Approved" %}
                                        <td><i class="checked-box fas fa-check-square"></i></td>
                                    {% elif transaction.status == "Pending" %}
                                        <td><i class="unchecked-box fas fa-square"></i></td>
                                    {% elif transaction.status == "Rejected" %}
                                        <td><i class="unchecked-box fas fa-times-square"></i></td>
                                    {% else %}
                                        <td><i class="unchecked-box fas fa-square"></i></td>
                                    {% endif %}
                                    <td>{{ transaction.date_time.date }} | {{ transaction.date_time.time }}</td>
                                    <td>{{ transaction.transaction_type }}</td>
                                    <td>{{ transaction.amount }}</td>
                                    <td>{{ transaction.status }}</td>
                                </tr>
                            {% endfor %}
                        {% else %}
                                <tr>
                                    <td>No transactions Yet</td>
                                </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
            <div class="transaction-time-range">
                <div class="time-range">
                    <button class="active">12 months</button>
                    <button>30 days</button>
                </div>
            </div>
        </section>

        <section class="GiftMarket notifications">
            <h2>Gift Card Market Place</h2>
            <div class="giftcards notification">
                {% if giftcards %}
                    {% for giftcard in giftcards %}
                        <div class="giftcard notification-item">
                            <img src="{{ giftcard.uploaded_image.url }}" alt="" width="120rem" height="80rem">
                            <span>
                                <h3>{{ giftcard.card_type }}</h3>
                                <i>{{ giftcard.status }}</i>
                                <p>{{ giftcard.price }}</p>
                            </span>
                        </div>
                    {% endfor %}
                {% else %}
                        No Gift Cards Yet
                {% endif %}
            </div>
        </section>
        
        <section class="notifications">
            <h2>Notifications</h2>
            <div class="notification">
                <div class="notification-item unread">
                    <div class="notification-content">
                        <h3>New Message</h3>
                        <span class="notification-time">2 hours ago</span>
                        <p>You have a new message from the support team.</p>
                    </div>
                </div>
                <div class="notification-item">
                    <div class="notification-content">
                        <h3>Transaction Complete</h3>
                        <span class="notification-time">1 day ago</span>
                        <p>Your recent withdrawal has been processed.</p>
                    </div>
                </div>
                <div class="notification-item">
                    <div class="notification-content">
                        <h3>Transaction Complete</h3>
                        <span class="notification-time">1 day ago</span>
                        <p>Your recent withdrawal has been processed.</p>
                    </div>
                </div>
                <div class="notification-item">
                    <div class="notification-content">
                        <h3>Transaction Complete</h3>
                        <span class="notification-time">1 day ago</span>
                        <p>Your recent withdrawal has been processed.</p>
                    </div>
                </div> 
            </div>       
        </section>
    </main>
</div>
{% endblock %}
