{% extends "../base.html" %}
{% load static %}
{% block title %}Sell Gift Card{% endblock %}
{% block style %}
<link rel="stylesheet" href="{% static 'core/css/sellgiftcard.css' %}">
{% endblock %}
{% block content %}
<div class="container">
    <main class="main-content">
        <section class="gift-card-management">
            <h1>Sell Gift Card</h1>
            <a href="/giftcard/"><h2>Buy Gift Card &rarr;</h2></a>
            <form method="post" enctype="multipart/form-data" action="{% url 'giftcard:add_gift_card' %}"> 
                {% csrf_token %}
                {% for message in messages %}
                    <h5>{{message}}</h5>
                {% endfor %}
                <div>
                    <div class="form-group">                    
                        <label for="card_type">Brand/Retailer Name:</label>
                        <input type="text" id="card_type" name="card_type" required>
                    </div>

                    <div class="form-group">                    
                        <label for="card_number">Card Number (if applicable):</label>
                        <input type="text" id="card_number" name="card_number" maxlength="19">
                    </div>

                    <div class="form-group">                    
                        <label for="card_pin">Card PIN (if applicable):</label>
                        <input type="text" id="card_pin" name="card_pin" maxlength="8">
                    </div>

                    <div class="form-group">                    
                        <label for="card_code">Card Code (if applicable):</label>
                        <input type="text" id="card_code" name="card_code" maxlength="8">
                    </div>

                    <div class="form-group">                    
                        <label for="expiration_date">Expiration Date (YYYY-MM-DD)  (if any):</label>
                        <input type="date" id="expiration_date" name="expiration_date">
                    </div>

                    <div class="form-group">                    
                        <label for="condition">Condition (New, Used, Partially Used):</label>
                        <input type="text" id="condition" name="condition">
                    </div>

                    <div class="form-group">                    
                        <label for="restrictions">Restrictions (if any):</label>
                        <textarea id="restrictions" name="restrictions"></textarea>
                    </div>

                    <div class="form-group">                    
                        <label for="uploaded_image">Upload Image (if any):</label>
                        <input type="file" id="uploaded_image" name="uploaded_image">
                    </div>

                    <div class="form-group">                    
                        <label for="price">Price:</label>
                        <input type="number" id="price" name="price" step="0.01" required>
                    </div>
                </div>
                <div class="transaction-summary">
                    <h2>Transaction Summary</h2>
                    <p>You are about to buy a gift card</p>
                    <div class="summary-item">
                        <h4>card Type:</h4>
                        <span>Amazon Gift Card</span>
                    </div>
                    <div class="summary-item">
                        <h4>Amount:</h4>
                        <span>$50</span>
                    </div>
                    <div class="summary-item">
                        <h4>Processing Fee:</h4>
                        <span>$5</span>
                    </div>
                    <div class="summary-item">
                        <h4>Total:</h4>
                        <span>$55</span>
                    </div>
                </div>
                <button type="submit" class="btn-primary">Sell Gift Card</button>
            </form>
        </section>
    </main>
</div>
{% endblock %}

