@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope'
}

body {
    width: 100dvw;
    height: fit-content;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f7fa;
    overflow-x: hidden;
}

.container {
    max-width: 100dvw;
    margin: 0;
}

/* Main content styles */
.main-content {
    padding: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gift-card-management {
    width: 56%;
    height: fit-content;
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 30px;
}

h1 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #333;
}

form {
    display: grid;
    gap: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.or{
    width: 76%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    font-weight: 600;
    color: #333;
    font-size: 2rem;
}

label {
    margin-bottom: 5px;
    font-weight: 500;
}

select, input[type="number"], input[type="text"] {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.btn-primary {
    width: 26%;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #ffffff;
    color: #0056b3;
    border: 2px solid #0056b3;
    transition: 0.3s ease;
}

.transaction-summary{
    width: 76%;
    height: fit-content;
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 30px;
}

.summary-item{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.summary-item h4{
    font-weight: 500;
}

.summary-item span{
    font-weight: 400;
}

.summary-item h2{
    font-weight: 500;
}

.summary-item h4{
    font-weight: 500;
}

.summary-item p{
    font-weight: 400;
}
