{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buy Airtime/Data Bundle</title>
    <link rel="stylesheet" href="{% static 'css/buyairtime-data.css' %}">
    <link rel="stylesheet" href="{% static 'css/tab.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <div class="container">
        <header>
            <div class="header-content">
                <div class="right">
                    <div class="logo">
                        <img src="{% static 'image/21f8e863-750c-4f85-82fe-72ce7ce9bbbb.svg' %}" alt="logo">
                        <span>Sheltrade</span>
                    </div>
                </div>
                <div class="user-menu">
                    <a href="">Logout</a>
                    <a href="" class="help">Help</a>
                    <i class="setting fas fa-cog"></i>
                    <i class="notification fas fa-bell"></i>
                    <img src="{% static 'image/F1.jpg' %}" alt="User Avatar">
                </div>
            </div>
        </header>
        <div class="dashboard-content">
            <div class="buy-crypto">
                <form class="crypto-form" action="" method="post">
                    <div class="form-group">
                        <label for="network"><h3>Select Network Provider</h3></label>
                        <select id="network" name="network">
                            <option value="">Select Network</option>
                            <option value="Mtn">MTN</option>
                            <option value="Airtel">Airtel</option>
                            <option value="Glo">Glo</option>
                            <option value="9mobile">9mobile</option>
                        </select>
                    </div>
                    <div class="tabs">
                        <div class="tab">
                            <label for="bundle-type"><h3>Select Bundle Type</h3></label>
                            <button class="tab-button active" id="airtime-tab" onclick="openTab(event, 'airtime-content')">Airtime</button>
                            <button class="tab-button" id="data-tab" onclick="openTab(event, 'data-content')">Data</button>
                        </div>
                        <div class="tab-content active" id="airtime-content" >
                            <div class="form-group amount">
                                <label for="amount" value="amount">Amount</label>
                                <div class="amount-select">
                                    <input type="number" id="amount" name="amount" placeholder="Enter amount">
                                    <select id="currency" name="currency">
                                        <option value="ngn">NGN</option>
                                        <option value="usd">USD</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="phone-number">Phone Number</label>
                                <input type="text" id="phone-number" name="phone-number" placeholder="Enter phone number" value="phone-number">
                            </div>
                            <div class="transaction-summary">
                                <h3>Transaction Summary</h3>
                                <div class="summary-item">
                                    <h4>Network:</h4>
                                    <span id="summary-network">-</span>
                                </div>
                                <div class="summary-item">
                                    <h4>Phone Number:</h4>
                                    <span id="summary-phone-number">-</span>
                                </div>
                                <div class="summary-item">
                                    <h4>Amount:</h4>
                                    <span id="summary-amount">-</span>
                                </div>
                            </div>
                        </div>
                        <div class="tab-content" id="data-content">
                            <div class="form-group">
                                <label for="bundle-type">Bundle Type</label>
                                <div class="bundle-select">
                                    <select id="bundle-type" name="bundle-type">
                                        <option value="1gb">1GB</option>
                                        <option value="2gb">2GB</option>
                                        <option value="3gb">3GB</option>
                                        <option value="4gb">4GB</option>
                                        <option value="5gb">5GB</option>
                                        <option value="10gb">10GB</option>
                                        <option value="20gb">20GB</option>
                                        <option value="30gb">30GB</option>
                                        <option value="40gb">40GB</option>
                                        <option value="50gb">50GB</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="phone-number">Phone Number</label>
                                <input type="text" id="phone-number" name="phone-number" value="phone-number" placeholder="Enter phone number">
                            </div>
                            <div class="form-group amount">
                                <label for="amount">Amount</label>
                                <div class="amount-select">
                                    <input type="number" id="amount" name="amount" placeholder="Enter amount" value="amount">
                                    <select id="currency" name="currency">
                                        <option value="ngn">NGN</option>
                                        <option value="usd">USD</option>
                                    </select>
                                </div>
                            </div>
                            <div class="transaction-summary">
                                <h3>Transaction Summary</h3>
                                <div class="summary-item">
                                    <h4>Network:</h4>
                                    <span id="summary-network">-</span>
                                </div>
                                <div class="summary-item">
                                    <h4>Bundle Type:</h4>
                                    <span id="summary-bundle-type">-</span>
                                </div>
                                <div class="summary-item">
                                    <h4>Phone Number:</h4>
                                    <span id="summary-phone-number">-</span>
                                </div>
                                <div class="summary-item">
                                    <h4>Amount:</h4>
                                    <span id="summary-amount">-</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn-primary">Proceed</button>
                </form>
            </div>
        </div>
    </div>
    <script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>
