{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buy Gift Card</title>
    <link rel="stylesheet" href="{% static 'core/css/buygiftcard.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <div class="container">
        <header>
            <div class="header-content">
                <div class="right">
                    <div class="logo">
                        <a href=""><img src="{% static 'core/image/Logo.png' %}" alt="Sheltrade Logo"></a>
                    </div>
                </div>
                <div class="user-menu">
                    <a href="">Logout</a>
                    <a href="" class="help">Help</a>
                    <a href=""><i class="setting fas fa-cog"></i></a>
                    <a href=""><i class="notification fas fa-bell"></i></a>
                    <a href=""><img src="{% static 'core/image/F1.jpg' %}" alt="User Avatar"></a>
                </div>
                <div class="profile-dropdown">
                    <img src="{% static 'core/image/F1.jpg' %}" alt="User Avatar">
                    <i class="dropdown-arrow fas fa-chevron-down"></i>
                </div>
                <div class="user-menu-mobile">
                    <a href=""><i class="fas fa-sign-out-alt"></i> Logout</a>
                    <a href="" class="help"><i class="fas fa-question-circle"></i> Help</a>
                    <a href=""><i class="setting fas fa-cog"></i> Setting</a>
                    <a href=""><i class="notification fas fa-bell"></i> Notification</a>
                    <a href=""><i class="fas fa-user"></i> Profile</a>
                </div>
            </div>
        </header>
        
        <div class="main-content">
            <main class="dashboard-content">
                <section class="gift-card-management">
                    <form>
                        <h2>Select Gift Card Type</h2>
                        <div class="form-group">
                            <i class="opened-package fas fa-box-open"></i>
                            <input type="search" name="" id="" placeholder="Choose a card type">
                        </div>
                        <div class="giftcard-image">
                            <div class="gift-img">
                                <img src="{% static 'core/image/amazon.png' %}" alt="Amazon">
                                <section>
                                    <h5>Amazon</h5>
                                    <span>Amazon Gift Card</span>
                                </section>
                            </div>
                            <div class="gift-img">
                                <img src="{% static 'core/image/itunes.png' %}" alt="Itunes">
                                <section>
                                    <h5>Itunes</h5>
                                    <span>Itunes Gift Card</span>
                                </section>
                            </div>
                            <div class="gift-img">
                                <img src="{% static 'core/image/gplay.png' %}" alt="Apple">
                                <section>
                                    <h5>Google Play</h5>
                                    <span>Google Play Gift Card</span>
                                </section>
                            </div>
                            <div class="gift-img">
                                <img src="{% static 'core/image/netflix.png' %}" alt="Google">
                                <section>
                                    <h5>Netflix</h5>
                                    <span>Netflix Gift Card</span>
                                </section>
                            </div>
                        </div>
                        <div class="amount-select">
                            <label for="card-amount">Select Amount</label>
                            <div class="amount-range">
                                <input type="button" value="$10" onclick="selectAmount(10)" class="active">
                                <input type="button" value="$25" onclick="selectAmount(25)">
                                <input type="button" value="$50" onclick="selectAmount(50)">
                                <input type="button" value="Custom" onclick="selectAmount(0)">
                            </div>
                            <input type="number" id="card-amount" name="card-amount" placeholder="Enter amount">
                        </div>
                        <div class="transaction-summary">
                            <h2>Transaction Summary</h2>
                            <p>You are about to buy a gift card</p>
                            <div class="summary-item">
                                <h4>card Type:</h4>
                                <span>Amazon Gift Card</span>
                            </div>
                            <div class="summary-item">
                                <h4>Amount:</h4>
                                <span>$50</span>
                            </div>
                            <div class="summary-item">
                                <h4>Processing Fee:</h4>
                                <span>$5</span>
                            </div>
                            <div class="summary-item">
                                <h4>Total:</h4>
                                <span>$55</span>
                            </div>
                        </div>
                        <button type="submit" class="btn-buy">Buy Now</button>
                    </form>
                </section>
                <script src="{% static 'core/js/header.js' %}"></script>
            </main>
        </div>
    </div>
</body>
</html>
