{% load socialaccount %}
{% load allauth account %}
{% load allauth i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'account/css/login.css' %}">
    <title>Password Reset</title>
</head>
<body>
    <div class="container">
        <h1>Password Reset</h1>
        {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
        {% endif %}
        <span style="width: 95%">
            We have sent you an email. If you have not received it please check your spam folder. 
            Otherwise contact us if you do not receive it in a few minutes.
        </span>
    </div>
</body>
</html>
